# 일반자료 구조

학생 정보를 저장하고 출력 프로그램!

In [118]:
# 학생정보
name = '홍길동'
age = 20
address = '서울'
major = '컴'

In [121]:
student = {
    'name' : name,
    'age' : age,
    'address' : address,
    'major' : major
}

In [122]:
student1 = {
    'name' : '김',
    'adge' : 22,
    'address' : '대전',
    'major' : '금'
}

### insert 하기

In [128]:
students = []  # 여러개!

In [129]:
students[0] = [student]

IndexError: list assignment index out of range

In [130]:
students = [0] * 10 # 초기화! 10개 공간

In [131]:
students

[0, 0, 0, 0, 0, 0, 0, 0, 0, 0]

In [132]:
students[0] = [student]

In [133]:
students[1] = [student1]

In [136]:
students

[[{'name': '홍길동', 'age': 20, 'address': '서울', 'major': '컴'}],
 [{'name': '김', 'adge': 22, 'address': '대전', 'major': '금'}],
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 0]

In [137]:
student = {
    'name' : '고길동',
    'adge' : 55,
    'address' : '부산',
    'major' : '경제'
}

In [138]:
students.append(student) #

In [140]:
students.insert(9, student) #

In [141]:
students

[[{'name': '홍길동', 'age': 20, 'address': '서울', 'major': '컴'}],
 [{'name': '김', 'adge': 22, 'address': '대전', 'major': '금'}],
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 {'name': '고길동', 'adge': 55, 'address': '부산', 'major': '경제'},
 0,
 {'name': '고길동', 'adge': 55, 'address': '부산', 'major': '경제'}]

In [ ]:
len(students)

12

In [145]:
student = {
    'name' : '권순찬',
    'adge' : 35,
    'address' : '경산',
    'major' : '경제'
}

In [146]:
students[:0] = [student] #

In [147]:
students

[{'name': '권순찬', 'adge': 35, 'address': '경산', 'major': '경제'},
 {'name': '고길동', 'adge': 55, 'address': '부산', 'major': '경제'},
 [{'name': '홍길동', 'age': 20, 'address': '서울', 'major': '컴'}],
 [{'name': '김', 'adge': 22, 'address': '대전', 'major': '금'}],
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 {'name': '고길동', 'adge': 55, 'address': '부산', 'major': '경제'},
 0,
 {'name': '고길동', 'adge': 55, 'address': '부산', 'major': '경제'}]

In [143]:
students[:0:1] = [student]

In [144]:
students

[{'name': '고길동', 'adge': 55, 'address': '부산', 'major': '경제'},
 [{'name': '홍길동', 'age': 20, 'address': '서울', 'major': '컴'}],
 [{'name': '김', 'adge': 22, 'address': '대전', 'major': '금'}],
 0,
 0,
 0,
 0,
 0,
 0,
 0,
 {'name': '고길동', 'adge': 55, 'address': '부산', 'major': '경제'},
 0,
 {'name': '고길동', 'adge': 55, 'address': '부산', 'major': '경제'}]

In [56]:
# insert
students[:0:1] = [student1, student1]

In [57]:
students

[{'name': '김', 'adge': 22, 'address': '대전', 'major': '금'},
 {'name': '김', 'adge': 22, 'address': '대전', 'major': '금'},
 {'name': '홍길동', 'adge': 20, 'address': '서울', 'major': '컴'}]

In [58]:
# replace
students[0::1] = [student, student1]

In [59]:
students

[{'name': '홍길동', 'adge': 20, 'address': '서울', 'major': '컴'},
 {'name': '김', 'adge': 22, 'address': '대전', 'major': '금'}]

In [150]:
student = {
    'name' : '권순찬',
    'age' : 35,
    'address' : '경산',
    'major' : '경제'
}

In [153]:
len(students)

14

In [151]:
students[5:8] = [student, student, student] #

In [152]:
students

[{'name': '권순찬', 'adge': 35, 'address': '경산', 'major': '경제'},
 {'name': '고길동', 'adge': 55, 'address': '부산', 'major': '경제'},
 [{'name': '홍길동', 'age': 20, 'address': '서울', 'major': '컴'}],
 [{'name': '김', 'adge': 22, 'address': '대전', 'major': '금'}],
 0,
 {'name': '권순찬', 'age': 35, 'address': '경산', 'major': '경제'},
 {'name': '권순찬', 'age': 35, 'address': '경산', 'major': '경제'},
 {'name': '권순찬', 'age': 35, 'address': '경산', 'major': '경제'},
 0,
 0,
 0,
 {'name': '고길동', 'adge': 55, 'address': '부산', 'major': '경제'},
 0,
 {'name': '고길동', 'adge': 55, 'address': '부산', 'major': '경제'}]

### insert(), append()

### append 하기

In [25]:
# append
students[:0] = [student]
students[:0] = [student]
students[:0] = [student]
students[:0] = [student]
students[:0] = [student]

In [26]:
students

[{'name': '홍길동', 'adge': 20, 'address': '서울', 'major': '컴'},
 {'name': '홍길동', 'adge': 20, 'address': '서울', 'major': '컴'},
 {'name': '홍길동', 'adge': 20, 'address': '서울', 'major': '컴'},
 {'name': '홍길동', 'adge': 20, 'address': '서울', 'major': '컴'},
 {'name': '홍길동', 'adge': 20, 'address': '서울', 'major': '컴'}]

In [30]:
student1 = {
    'name' : '김',
    'adge' : 22,
    'address' : '대전',
    'major' : '금'
}
student2 = {
    'name' : '고',
    'adge' : 23,
    'address' : '부산',
    'major' : '물'
}

In [31]:
# 치환
students[1:4] = [student1, student2]

In [32]:
students

[{'name': '홍길동', 'adge': 20, 'address': '서울', 'major': '컴'},
 {'name': '김', 'adge': 22, 'address': '대전', 'major': '금'},
 {'name': '고', 'adge': 23, 'address': '부산', 'major': '물'}]

### 삽입하기

In [33]:
students

[{'name': '홍길동', 'adge': 20, 'address': '서울', 'major': '컴'},
 {'name': '김', 'adge': 22, 'address': '대전', 'major': '금'},
 {'name': '고', 'adge': 23, 'address': '부산', 'major': '물'}]

In [75]:
student1 = {
    'name' : '김',
    'age' : 22,
    'address' : '대전',
    'major' : '금'
}
student2 = {
    'name' : '고',
    'age' : 23,
    'address' : '부산',
    'major' : '물'
}

In [76]:
# 삽입
students[2] = [student1, student2]
students

IndexError: list assignment index out of range

# 함수

In [154]:
students = []

In [155]:
len(students)

0

In [156]:
students      # None

[]

In [157]:
student = {
    'name' : '권순찬',
    'age' : 35,
    'address' : '경산',
    'major' : '경제'
}

In [146]:
students[:0] = [student] #

### 학생 추가 함수 add_user()
 -

In [158]:
def add_user(db:list, student:dict):
    db.append(student)
    
add_user(student)

In [162]:
def add_user(db:list, name:str, age:int, address:str, major:str):
    student = {
        'name' : name,
        'age' : age,
        'address' : address,
        'major' : major
    }
    db.append(student)

In [161]:
def add_user( name:str, age:int, address:str, major:str):
    student = {
        'name' : name,
        'age' : age,
        'address' : address,
        'major' : major
    }
    students.append(student)

In [164]:
def listall(db:list):
    print(f'{"이름":10}{"나이":8}{"주소":30}{"전공":8}')
    for i in db:
        n = i['name']
        a = i['age']
        ad = i['address']
        m = i['major']
        print(f'{n:10}  {a:4}    {ad:30} {m:8}')

In [165]:
add_user(students, name='홍길동', age=20, address='서울', major='컴')

In [166]:
add_user(students, '홍수연', 30, '대구','국')

In [167]:
listall(students)

이름        나이      주소                            전공
홍길동           20    서울                             컴
홍수연           30    대구                             국

In [ ]:
def update_student():
    pass

In [ ]:
def delete_student():
    pass

# 클래스

In [ ]:
#  'name' : name,
# 'age' : age,
# 'address' : address,
# 'major' : major

In [188]:
students = []

In [189]:
class Student:
    student_number = 1
    def __init__(self, name, age, phone, address, major):
        self.name = name
        self.age = age
        self.phone = phone
        self.address = address
        self.major = major
        Student.student_number += 1
        
    def update(self, name, age, phone):
        pass

In [182]:
def add_user(db:list, s:Student):
    db.append(s)

In [180]:
def listall(db:list):
    print(f'{"이름":10}{"나이":8}{"주소":30}{"전공":8}')
    for i in db:
        n = i.name   # i['name'] X
        a = i.age
        ad = i.address
        m = i.major
        print(f'{n:10}  {a:4}    {ad:30} {m:8}')

In [190]:
s = Student('길영수',30,'101-1010', '서울', '컴퓨터')
add_user(students, s)

In [191]:
add_user(students, Student('수성동',33,'201-2010', '김포', '컴퓨터'))

In [192]:
listall(students)

이름        나이      주소                            전공
길영수           30    서울                             컴퓨터
수성동           33    김포                             컴퓨터